<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/index.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <script src="../lib/js/banner.js"></script>
    <!--[if lt IE 10]>
    <script src="../lib/plugins/pie/PIE.js"></script>
    <![endif]-->
    <script>
        //$(function () {
        //    window.onload = function () {
        //        var $li = $('#intab li');
        //        var $list = $('#incontent .inlist');

        //        $li.click(function () {
        //            var $this = $(this);
        //            var $t = $this.index();
        //            $li.removeClass();
        //            $this.addClass('incurrent');
        //            $list.css('display', 'none');
        //            $list.eq($t).css('display', 'block');
        //        })
        //    }
        //});
        function fn_next(num) {
            var $li = $('#intab li');
            var $list = $('#incontent .inlist');
            $li.removeClass();
            $li.eq(num).addClass('incurrent');
            $list.css('display', 'none');
            $list.eq(num).css('display', 'block');
            $('.in-num').removeClass('numcolor');
            $('.in-num').eq(num).addClass('numcolor');
        }
    </script>
</head>
<body>
    <img src="/lib/img/index/head.jpg" alt="" style="width:100%;height:80px;" />
    <header>
        <div class="xn-light">
            <div class="container">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的收藏夹</a>|</li>
                    <li><a href="#">会员俱乐部</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">手机版</a></li>
                </ul>
            </div>
        </div>
        <div class="container xn-header">
            <a href="index.html"><img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" /></a>
            <ul>
                <li><a href="#">婚礼购物</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">婚礼策划</a></li>
                <li><a href="#">线下服务</a></li>
                <li><a href="#">最美新娘</a></li>
            </ul>
            <div class="rside">
                <div class="zp">
                    <img src="../lib/img/prove.png" alt="" /> 100%正品
                    <img src="../lib/img/num.png" alt="" /> 30万方实体城
                </div>
                <div class="new">
                    <div class="new-num">1</div>
                </div><img src="../lib/img/news.png" alt="" />
            </div>
        </div>
    </header>
    <div class="container in-head">
        <!-- banner代码 开始 -->
        <div id="full-screen-slider">
            <ul id="slides">
                <li style="background: url('../lib/img/index/banner.jpg?__sprite') no-repeat center top; background-size: cover; "><a href="#"></a></li>
                <li style="background: url('../lib/img/bfbrode/banner.jpg') no-repeat center top; background-size: cover; "><a href="#"></a></li>
                <li style="background: url('../lib/img/commodity/banner.jpg') no-repeat center top; background-size: cover; "><a href="#"></a></li>
            </ul>
        </div>
        <!-- banner代码 结束 -->
        <img src="/lib/img/index/join.jpg" alt="" class="in-join" />
    </div>
    <div class="container customized">
        <div class="in-title">三步定制你的专属婚纱</div>
        <div class="in-select">
            <select><option>婚纱</option></select>
        </div>
        <div id="inouter">
            <ul id="intab">
                <li class="incurrent"><span class="in-num numcolor"><i>1</i></span>选择体型，对号入座</li>
                <li><span class="in-num"><i>2</i></span>选择款式，自由搭配</li>
                <li><span class="in-num"><i>3</i></span>选择风格，百变由心</li>
            </ul>
            <div id="incontent">
                <div class="inlist" style="display:block;">
                    <div class="in-main">
                        <div class="in-list">
                            <img src="/lib/img/index/ic1.jpg" alt="" />
                            <div class="in-biao">梯形身材</div>
                            <p>肩窄臀部, 腰、胸线条特征有但与臀围的差距不大</p>
                        </div>
                        <div class="in-list">
                            <img src="/lib/img/index/ic2.jpg" alt="" />
                            <div class="in-biao">梨形身材</div>
                            <p>胸围及臀围丰满 , 腰围与臀围落差较大，较为丰满</p>
                        </div>
                        <div class="in-list">
                            <img src="/lib/img/index/ic3.jpg" alt="" />
                            <div class="in-biao">三角形身材</div>
                            <p>肩膀较窄或是溜肩 ,臀围较宽, 大腿较粗, 身材重心往下</p>
                        </div>
                        <div class="in-list">
                            <img src="/lib/img/index/ic4.jpg" alt="" />
                            <div class="in-biao">倒三角形身材</div>
                            <p>肩膀宽阔腰围及臀围线条不明显</p>
                        </div>
                        <div class="in-list">
                            <img src="/lib/img/index/ic5.jpg" alt="" />
                            <div class="in-biao">瘦长方形身材</div>
                            <p>细长扁平，腰及胸、臀线条均不明显，整体偏瘦</p>
                        </div>
                        <div class="in-list">
                            <img src="/lib/img/index/ic5.jpg" alt="" />
                            <div class="in-biao">宽长方形身材</div>
                            <p>胸、臀线明显，腿型细长，腰线不明显，肩、臀宽度差不多</p>
                        </div>
                    </div>
                    <div class="inbtn" onclick="fn_next(1)">下一步</div>
                    <div class="inmao">预约体验店，免费获取专业指导</div>
                </div>
                <div class="inlist">
                    <div class="inbtn" onclick="fn_next(0)">上一步</div>
                    <div class="inbtn" onclick="fn_next(2)">下一步</div>
                </div>
                <div class="inlist">
                    <div class="inbtn" onclick="fn_next(1)">上一步</div>
                </div>
            </div>
        </div>
        <div class="center" style="font-size:20px;padding:30px 0 10px 0">请选择您的体型、喜欢的款式及风格</div>
        <div class="center">最适合你的婚纱就是最美的婚纱，我们将根据您的体型、喜欢的款式和风格为您推荐最优方案</div>
        <div class="in-love">
            <div class="love-list">
                <img src="/lib/img/index/in1.jpg" alt="" />
                <div class="love-title">爱维尔纱裙</div>
                <p>梯形身材首选婚纱</p>
            </div>
            <div class="love-list">
                <img src="/lib/img/index/in1.jpg" alt="" />
                <div class="love-title">爱维尔纱裙</div>
                <p>梯形身材首选婚纱</p>
            </div>
            <div class="love-list">
                <img src="/lib/img/index/in1.jpg" alt="" />
                <div class="love-title">爱维尔纱裙</div>
                <p>梯形身材首选婚纱</p>
            </div>
            <div class="love-list">
                <img src="/lib/img/index/in1.jpg" alt="" />
                <div class="love-title">爱维尔纱裙</div>
                <p>梯形身材首选婚纱</p>
            </div>
            <div class="love-list">
                <img src="/lib/img/index/in1.jpg" alt="" />
                <div class="love-title">爱维尔纱裙</div>
                <p>梯形身材首选婚纱</p>
            </div>
            <div class="love-list">
                <img src="/lib/img/index/in1.jpg" alt="" />
                <div class="love-title">爱维尔纱裙</div>
                <p>梯形身材首选婚纱</p>
            </div>
        </div>
    </div>
    <div class="container customized">
        <div class="in-title">婚纱推荐</div>
        <div class="in-intro">30万方实体婚纱城，大牌云集，总有您想要的</div>
        <div class="in-wedding">
            <div class="wed-left">
                <img src="/lib/img/index/in2.jpg" alt="" />
                <div class="wed-main">
                    <p>2015年秋冬季新款婚纱礼服新娘结婚韩式抹胸齐地婚纱显瘦一字肩</p>
                    <p>￥1288</p>
                </div>
            </div>
            <div class="wed-right">
                <img src="/lib/img/index/in3.jpg" alt="" />
                <div class="wed-cont">
                    <div class="wedm">
                        <div class="wedl">欧式长裙摆</div>
                        <div class="wedr">销售：3602件</div>
                    </div>
                    <p>
                        精彩点评：衣服拿到手完全达到预期效果，等结婚后再传上
                        照片,老公说这是见过我最美的样子
                    </p>
                </div>
            </div>
        </div>
        <div class="in-love">
            <div class="dress">
                <img src="/lib/img/index/in4.jpg" alt="" />
                <p>最in大裙摆婚纱礼服</p>
            </div>
            <div class="dress">
                <img src="/lib/img/index/in4.jpg" alt="" />
                <p>最in大裙摆婚纱礼服</p>
            </div>
            <div class="dress">
                <img src="/lib/img/index/in4.jpg" alt="" />
                <p>最in大裙摆婚纱礼服</p>
            </div>
        </div>
        <div class="inbtn">2000多款产品 >></div>
    </div>
    <div class="container customized">
        <div class="in-title">私人定制</div>
        <div class="in-intro">最有创意的设计师量身定做</div>
        <div class="in-private">
            <div class="in-design">
                <div class="design-name">
                    望设计－婚纱设计师兰亦
                </div>
                <div class="in-time">2016 The Land of Dream </div>
                <p>—维纳斯诞生</p>
                <p>爱与美之神维纳斯，</p>
                <p>诞生于爱琴海摇曳的波光与飘落的花瓣中，</p>
                <p>风神、花神迎送于左右，</p>
                <p>美，应该像贝壳一样去打磨</p>
            </div>
            <div class="in-video">
                <img src="/lib/img/index/in5.jpg" alt="" />
            </div>
            <div class="in-picone">
                <img src="/lib/img/index/in6.jpg" alt="" />
            </div>
            <div class="in-pictwo">
                <img src="/lib/img/index/in7.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="container customized">
        <div class="in-title">线下体验</div>
        <div class="in-select">
            <select><option>苏州</option></select>
        </div>
        <div class="in-intro">我们把服务带到您的家门口</div>
        <div class="in-love">
            <div class="line-list">
                <img src="/lib/img/index/in8.jpg" alt="" />
                <div class="love-title">金夫人婚纱摄影</div>
                <p>吴江区江平路1号</p>
            </div>
            <div class="line-list">
                <img src="/lib/img/index/in8.jpg" alt="" />
                <div class="love-title">金夫人婚纱摄影</div>
                <p>吴江区江平路1号</p>
            </div>
            <div class="line-list">
                <img src="/lib/img/index/in8.jpg" alt="" />
                <div class="love-title">金夫人婚纱摄影</div>
                <p>吴江区江平路1号</p>
            </div>
            <div class="line-list">
                <img src="/lib/img/index/in8.jpg" alt="" />
                <div class="love-title">金夫人婚纱摄影</div>
                <p>吴江区江平路1号</p>
            </div>
        </div>
    </div>
    <div class="container customized">
        <div class="in-title">为您服务</div>
        <div class="in-intro">为您提供全方位的专题咨询与服务</div>
        <div class="in-love">
            <div class="in-service">
                <img src="/lib/img/index/in9.jpg" alt="" />
                <div class="serbj">
                    <div class="sertitle">婚纱摄影</div>
                    <p>用独特视角记录我们最初的感动，</p>
                    <p>用镜头记录我们的青春，</p>
                    <p>留下我们的印记，定格欢笑的瞬间</p>
                </div>
            </div>
            <div class="in-service">
                <img src="/lib/img/index/in9.jpg" alt="" />
                <div class="serbj">
                    <div class="sertitle">婚纱摄影</div>
                    <p>用独特视角记录我们最初的感动，</p>
                    <p>用镜头记录我们的青春，</p>
                    <p>留下我们的印记，定格欢笑的瞬间</p>
                </div>
            </div>
            <div class="in-service">
                <img src="/lib/img/index/in9.jpg" alt="" />
                <div class="serbj">
                    <div class="sertitle">婚纱摄影</div>
                    <p>用独特视角记录我们最初的感动，</p>
                    <p>用镜头记录我们的青春，</p>
                    <p>留下我们的印记，定格欢笑的瞬间</p>
                </div>
            </div>
            <div class="in-service">
                <img src="/lib/img/index/in9.jpg" alt="" />
                <div class="serbj">
                    <div class="sertitle">婚纱摄影</div>
                    <p>用独特视角记录我们最初的感动，</p>
                    <p>用镜头记录我们的青春，</p>
                    <p>留下我们的印记，定格欢笑的瞬间</p>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 100px; background: #cebbf1;margin:30px 0;">
        <div class="container in-down">
            <div class="dleft">
                <img src="/lib/img/index/down1.png" alt="" />
                <div class="dmain">
                    <div class="dtitle">你需要的婚礼知识</div>
                    <div>习俗、礼仪、流程</div>
                </div>
            </div>
            <div class="dline"></div>
            <div class="dleft">
                <img src="/lib/img/index/down2.png" alt="" />
                <div class="dmain">
                    <div class="dtitle">一站式婚礼服务</div>
                    <div>一个平台搞定全部</div>
                </div>
            </div>
            <div class="dline"></div>
            <div class="dleft">
                <img src="/lib/img/index/down3.png" alt="" />
                <div class="dmain">
                    <div class="dtitle">分享你的爱情故事</div>
                    <div>分享甜蜜，更能获得平台优惠</div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container xn-foot">
            <div class="fleft">
                <label>商品集合</label>
                <p>婚纱 (1725)</p>
                <p>礼服 (635)</p>
                <p>男士 (2514)</p>
                <p>配件 (76)</p>
            </div>
            <div class="fright">
                <label>网站</label>
                <p>服务条款</p>
                <p>隐私政策</p>
                <p>版权政策</p>
                <p>宣传资料</p>
                <p>支持</p>
            </div>
            <div class="fright">
                <label>虎丘婚纱</label>
                <p>关于我们</p>
                <p>服务理念</p>
                <p>职位</p>
                <p>联系我们</p>
            </div>
            <div class="fright">
                <label>关注我们</label>
                <p>虎丘婚纱为爱服务-苏州</p>
                <p>2015 © All rights reserved. 虎丘婚纱</p>
                <img src="../lib/img/wx.png" style="padding-right:10px;" />
                <img src="../lib/img/sina.png" />
            </div>
        </div>
    </footer>
</body>
</html>
