<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登陆</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/login.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <!--[if lt IE 10]>
    <script src="../lib/plugins/pie/PIE.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container logoside">
        <img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" />
    </div>
    <div class="container com-main">
        <img src="../lib/img/login/title.png" alt="" class="c-pic" />
        <div class="c-content">
            <p>账户登陆</p>
            <div class="c-input">
                <div class="c-title">账户</div>
                <input type="text" placeholder="手机号码/会员名/邮箱" />
            </div>
            <div class="c-input">
                <div class="c-title">密码</div>
                <input type="password" />
            </div>
            <div class="c-nrong">
                <div class="c-btn">登陆</div>
                <div class="forget"><a>忘记登陆密码</a></div>
                <div class="reg"><a>免费注册</a></div>
            </div>
            <div class="dlmode">
                <a><img src="../lib/img/login/wx.png" alt="" /> <span>微信登陆</span></a>
                <a><img src="../lib/img/login/sina.png" alt="" /> <span>微博登陆</span></a>
                <a> <img src="../lib/img/login/qq.png" alt="" /> <span>QQ登陆</span></a>
            </div>
        </div>
    </div>
</body>
</html>
