<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>订单管理</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/basic.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <!--[if lt IE 10]>
    <script src="../lib/plugins/pie/PIE.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <div class="xn-light">
            <div class="container">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的收藏夹</a>|</li>
                    <li><a href="#">会员俱乐部</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">手机版</a></li>
                </ul>
            </div>
        </div>
        <div class="container xn-header">
            <a href="index.html"><img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" /></a>
            <ul>
                <li><a href="#">婚礼购物</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">婚礼策划</a></li>
                <li><a href="#">线下服务</a></li>
                <li><a href="#">最美新娘</a></li>
            </ul>
            <div class="rside">
                <div class="zp">
                    <img src="../lib/img/prove.png" alt="" /> 100%正品
                    <img src="../lib/img/num.png" alt="" /> 30万方实体城
                </div>
                <div class="new">
                    <div class="new-num">1</div>
                </div><img src="../lib/img/news.png" alt="" />
            </div>
        </div>
    </header>
    <div class="orhead">
        <div class="portrait">
            <img src="/lib/img/or.png" alt="" class="onpic"/>
        </div>
        <div class="datum">
            <div class="distance">距离婚期还有<span class="days">32</span>天</div>
            <div class="username">
                <div class="orname">张虾条</div><div class="oredit"><img src="/lib/img/edit.png" alt="" /> 编辑</div>
            </div>
            <div style="width:100%;float:left;line-height:36px;">个人描述</div>
        </div>
        <div class="orbasic">
            <div class="ort">基本信息</div>
            <p>身高：160cm</p>
            <p>体重：68kg</p>
            <p>性别：女</p>
        </div>
        <div class="orbasic" style="width:200px;">
            <div class="ort">量体信息</div>
            <p>脖长：21cm</p>
            <p>肩宽：34cm</p>
            <p>臂长：56cm</p>
            <p>肩到胸高点：32cm</p>
            <p>胸围：160 cm</p>
            <p>BP肩距（乳点肩距）：20cm</p>
            <p>腰围：160 cm</p>
            <p>臀围：160 cm</p>
        </div>
        <div class="orbasic">
            <div class="ort">我的地址</div>
            <p>浙江省杭州市XX路260号</p>
            <p>XXXX小区1603</p>
        </div>
    </div>
    <footer>
        <div class="container xn-foot">
            <div class="fleft">
                <label>商品集合</label>
                <p>婚纱 (1725)</p>
                <p>礼服 (635)</p>
                <p>男士 (2514)</p>
                <p>配件 (76)</p>
            </div>
            <div class="fright">
                <label>网站</label>
                <p>服务条款</p>
                <p>隐私政策</p>
                <p>版权政策</p>
                <p>宣传资料</p>
                <p>支持</p>
            </div>
            <div class="fright">
                <label>虎丘婚纱</label>
                <p>关于我们</p>
                <p>服务理念</p>
                <p>职位</p>
                <p>联系我们</p>
            </div>
            <div class="fright">
                <label>关注我们</label>
                <p>虎丘婚纱为爱服务-苏州</p>
                <p>2015 © All rights reserved. 虎丘婚纱</p>
                <img src="../lib/img/wx.png" style="padding-right:10px;" />
                <img src="../lib/img/sina.png" />
            </div>
        </div>
    </footer>
</body>
</html>
