<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/register.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <!--[if lt IE 10]>
    <script src="../lib/plugins/pie/PIE.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container logoside">
        <img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" />
    </div>
    <div class="container com-main">
        <div class="side">
            <div class="lside">注册</div>
            <div class="rside">去完善其他资料></div>
        </div>
        <div class="c-input">
            <div class="c-title">手机号</div>
            <input class="region" placeholder="中国大陆 +86">
            <input type="text" placeholder="请输入手机号码" class="phone"/>
        </div>
        <div class="c-input">
            <div class="c-title">验证</div>
            <div class="validate">发送验证码</div>
        </div>
        <div class="c-input">
            <div class="c-title">输入密码</div>
            <input type="password" />
        </div>
        <div class="c-input">
            <div class="c-title">再次输入密码</div>
            <input type="password" />
        </div>
        <div class="c-input">
            <div class="c-title"></div>
            <div class="c-next">下一步</div>
        </div>
        <div class="c-input">
            <div class="c-title"></div>
            <div class="c-mail"><a href="#">需要通过邮箱注册</a></div>
        </div>
    </div>
</body>
</html>
