<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商铺首页</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/basic.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <script src="../lib/js/imgroll.js"></script>
    <script src="../lib/js/banner.js"></script>
    <!--[if lt IE 10]>
    <script src="../lib/plugins/pie/PIE.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <div class="container xn-header">
            <a href="index.html"><img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" /></a>
            <ul>
                <li><a href="#">婚礼购物</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">婚礼策划</a></li>
                <li><a href="#">线下服务</a></li>
                <li><a href="#">最美新娘</a></li>
            </ul>
            <div class="rside">
                <div class="zp">
                    <img src="../lib/img/prove.png" alt="" /> 100%正品
                    <img src="../lib/img/num.png" alt="" /> 30万方实体城
                </div>
                <div class="new">
                    <div class="new-num">1</div>
                </div><img src="../lib/img/news.png" alt="" />
            </div>
        </div>
    </header>
    <!-- banner代码 开始 -->
    <div id="full-screen-slider">
        <ul id="slides">
            <li style="background: url('../lib/img/shopban.jpg') no-repeat center top; background-size: cover; "><a href="#"></a></li>
            <li style="background: url('../lib/img/bfbrode/banner.jpg') no-repeat center top; background-size: cover; "><a href="#"></a></li>
            <li style="background: url('../lib/img/commodity/banner.jpg') no-repeat center top; background-size: cover; "><a href="#"></a></li>
        </ul>
    </div>
    <!-- banner代码 结束 -->
    <div class="shop-head container">
        <img src="../lib/img/shop01.jpg" />
        <p>金夫人婚纱摄影集团-中国婚纱摄影行业受欢迎品牌,300万新人共同选择！</p>
        <p>金夫人专注婚纱摄影26年,遍布全国27座省市,拥有300余家连锁经营店,外景拍摄遍布全球！</p>
        <p>金夫人是中国婚纱摄影十大杰出企业、美国PPA认证国际著名摄影机构。金夫人-满足你对婚纱摄影的美丽梦想!</p>
    </div>
    <div class="shop-package">
        <div class="shop-recom">
            <p><span style="font-size:28px;">套餐推荐</span>  在这里没有简单机械的重复，没有毫无新意的摆拍</p>
            <div class="shop-img">
                <div class="sp-left"><img src="../lib/img/shop02.jpg" /></div>
                <div class="sp-right">
                    <img src="../lib/img/shop03.jpg" />
                    <img src="../lib/img/shop06.jpg" />
                    <img src="../lib/img/shop03.jpg" />
                    <img src="../lib/img/shop06.jpg" />
                </div>
            </div>
        </div>    
    </div>
    <div class="shop-reveal">
        <p><span style="font-size:28px;">作品展示</span>  客人留下的每一个真实感人的瞬间</p>
        <div class="shop-pic">
            <img src="../lib/img/shop04.jpg" />
            <img src="../lib/img/shop07.jpg" />
            <img src="../lib/img/shop04.jpg" />
            <img src="../lib/img/shop07.jpg" />
        </div>
        <img src="../lib/img/shop05.jpg" style="padding:20px 0;"/>
    </div>
    <div class="gline"></div>
    <div class="box">

        <span class="prev"></span>

        <dl id="roll">

            <dd><img src="../lib/img/bfbrode/f01.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f02.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f03.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f04.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f05.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f06.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f01.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f02.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f03.jpg" /></dd>

            <dd><img src="../lib/img/bfbrode/f04.jpg" /></dd>

        </dl>

        <span class="next"></span>

    </div>
    <footer>
        <div class="container xn-foot">
            <div class="fleft">
                <label>商品集合</label>
                <p>婚纱 (1725)</p>
                <p>礼服 (635)</p>
                <p>男士 (2514)</p>
                <p>配件 (76)</p>
            </div>
            <div class="fright">
                <label>网站</label>
                <p>服务条款</p>
                <p>隐私政策</p>
                <p>版权政策</p>
                <p>宣传资料</p>
                <p>支持</p>
            </div>
            <div class="fright">
                <label>虎丘婚纱</label>
                <p>关于我们</p>
                <p>服务理念</p>
                <p>职位</p>
                <p>联系我们</p>
            </div>
            <div class="fright">
                <label>关注我们</label>
                <p>虎丘婚纱为爱服务-苏州</p>
                <p>2015 © All rights reserved. 虎丘婚纱</p>
                <img src="../lib/img/wx.png" style="padding-right:10px;" />
                <img src="../lib/img/sina.png" />
            </div>
        </div>
    </footer>
</body>
</html>
