<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>购物车</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="xn-light">
            <div class="container">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的收藏夹</a>|</li>
                    <li><a href="#">会员俱乐部</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">手机版</a></li>
                </ul>
            </div>
        </div>
        <div class="container xn-header">
            <img src="/lib/img/logo.png" alt="" class="logo" />
            <ul>
                <li><a href="#">婚礼购物</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">婚礼策划</a></li>
                <li><a href="#">线下服务</a></li>
                <li><a href="#">最美新娘</a></li>
            </ul>
            <div class="rside">
                <img src="/lib/img/prove.jpg" alt="" /> 100%正品
                <img src="/lib/img/num.jpg" alt="" /> 30万方实体城<img src="/lib/img/pg.png" alt="" /><img src="/lib/img/news.png" alt="" />
            </div>
        </div>
    </header>
</body>
</html>
