<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/standard.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <title>标品高端定制</title>
</head>
<body>
    <header>
        <div class="xn-light">
            <div class="container">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的收藏夹</a>|</li>
                    <li><a href="#">会员俱乐部</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">手机版</a></li>
                </ul>
            </div>
        </div>
        <div class="container xn-header">
            <a href="index.html"><img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" /></a>
            <ul>
                <li><a href="#">婚礼购物</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">婚礼策划</a></li>
                <li><a href="#">线下服务</a></li>
                <li><a href="#">最美新娘</a></li>
            </ul>
            <div class="rside">
                <img src="../lib/img/prove.jpg" alt="" /> 100%正品
                <img src="../lib/img/num.jpg" alt="" /> 30万方实体城<img src="../lib/img/pg.png" alt="" /><img src="../lib/img/news.png" alt="" />
            </div>
        </div>
    </header>
    <div class="container com-main">
        <div id="outer">
            <ul id="tab">
                <li class="current">
                    <img src="../lib/img/commodity/01_small.jpg" />
                </li>
                <li>
                    <img src="../lib/img/commodity/02_small.jpg" />
                </li>
                <li>
                    <img src="../lib/img/commodity/03_small.jpg" />
                </li>
            </ul>
            <div id="content">
                <ul style="display:block;">
                    <img src="../lib/img/commodity/01.jpg" />
                </ul>
                <ul>
                    <img src="../lib/img/commodity/p05.jpg" />
                </ul>
                <ul>
                    <img src="../lib/img/commodity/p06.jpg" />
                </ul>
            </div>
            <div class="com-share">
                <img src="../lib/img/commodity/c1.png" alt="" />分享
                <img src="../lib/img/commodity/c2.png" alt="" />收藏（40731人气）
            </div>
        </div>
        <div class="com-side">
            <div class="sd-title">春色暮光 花的嫁衣 新娘婚纱</div>
            <div class="sd-num">￥5690.00</div>
            <div class="com-chose">
                <div class="cs-title">
                    选择一种面料 
                    <img src="../lib/img/up.png"  style="padding-left:10px;"/>
                </div>
                <div class="cs-img xuan">水晶网纱</div>
                <div class="cs-img" style="margin-bottom:15px;">棉纺涤纶</div>
                <div class="cs-list">
                    <select>
                        <option>选择装饰细节</option>
                        <option>选择装饰细节</option>
                    </select>
                </div>
                <div class="cs-list">
                    <select>
                        <option>选择腰型</option>
                        <option>细腰</option>
                    </select>
                </div>
                <div class="cs-list">
                    <select>
                        <option>选择摆型</option>
                        <option>选择装饰细节</option>
                    </select>
                </div>
                <div class="cs-list">
                    <select>
                        <option>选择装饰细节</option>
                        <option>选择装饰细节</option>
                    </select>
                </div>
                <div class="cs-list">
                    <select>
                        <option>选择装饰细节</option>
                        <option>选择装饰细节</option>
                    </select>
                </div>
            </div>
            
            <div class="sp-custom">
                <div>尺码定制</div>
                <input type="checkbox"  id="checkbox" />
            </div>
            <div class="sp-btn">
                <div class="buybtn">直接购买</div>
                <div class="cartbtn">加入购物车</div>
                <img src="../lib/img/commodity/ren.jpg" alt="" /> <span>询问</span>
            </div>
        </div>
    </div>
    <div class="com-content">
        <p style="font-size:24px;font-weight:bold;">细节介绍</p>
        <img src="../lib/img/commodity/p07.jpg" alt="" />
        <img src="../lib/img/commodity/p08.jpg" alt="" />
    </div>
    <div class="xn-more">
        <div class="more-title">推荐搭配</div>
        <div class="more-content">
            <div class="more-list">
                <img src="../lib/img/shoping/m01.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m02.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m03.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m04.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m05.jpg" />
                <p>￥6589</p>
            </div>
        </div>
    </div>
    <div class="xn-more">
        <div class="more-title">更多产品</div>
        <div class="more-content">
            <div class="more-list">
                <img src="../lib/img/shoping/m06.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m07.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m08.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m09.jpg" />
                <p>￥6589</p>
            </div>
            <div class="more-list">
                <img src="../lib/img/shoping/m10.jpg" />
                <p>￥6589</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container xn-foot">
            <div class="fleft">
                <label>商品集合</label>
                <p>婚纱 (1725)</p>
                <p>礼服 (635)</p>
                <p>男士 (2514)</p>
                <p>配件 (76)</p>
            </div>
            <div class="fright">
                <label>网站</label>
                <p>服务条款</p>
                <p>隐私政策</p>
                <p>版权政策</p>
                <p>宣传资料</p>
                <p>支持</p>
            </div>
            <div class="fright">
                <label>虎丘婚纱</label>
                <p>关于我们</p>
                <p>服务理念</p>
                <p>职位</p>
                <p>联系我们</p>
            </div>
            <div class="fright">
                <label>关注我们</label>
                <p>虎丘婚纱为爱服务-苏州</p>
                <p>2015 © All rights reserved. 虎丘婚纱</p>
                <img src="../lib/img/wx.png" style="padding-right:10px;" />
                <img src="../lib/img/sina.png" />
            </div>
        </div>
    </footer>
    <script>
        $(function () {
            $('.cs-img').click(function () {
                $('.cs-img').removeClass('xuan');
                $(this).addClass('xuan');
            });
            window.onload = function () {
                var $li = $('#tab li');
                var $ul = $('#content ul');

                $li.click(function () {
                    var $this = $(this);
                    var $t = $this.index();
                    $li.removeClass();
                    $this.addClass('current');
                    $ul.css('display', 'none');
                    $ul.eq($t).css('display', 'block');
                })
            }
        })
    </script>
</body>
</html>
