<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>最美新娘 故事详情页</title>
    <link href="../lib/css/global.css" rel="stylesheet" />
    <link href="../lib/css/basic.css" rel="stylesheet" />
    <script src="../lib/js/jquery-1.9.1.min.js"></script>
    <script src="../lib/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../lib/js/imgroll.js"></script>
    <!--[if lt IE 10]>
    <script src="../lib/plugins/pie/PIE.js"></script>
    <![endif]-->
</head>
<body>
    <img src="/lib/img/top.jpg" alt="" style="width:100%;height:80px;" />
    <header>
        <div class="xn-light">
            <div class="container">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的收藏夹</a>|</li>
                    <li><a href="#">会员俱乐部</a></li>
                    <li><a href="#">客户服务</a></li>
                    <li><a href="#">手机版</a></li>
                </ul>
            </div>
        </div>
        <div class="container xn-header">
            <a href="index.html"><img src="../lib/img/logo.png" alt="" class="logo" style="border:0;" /></a>
            <ul>
                <li><a href="#">婚礼购物</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">婚礼策划</a></li>
                <li><a href="#">线下服务</a></li>
                <li><a href="#">最美新娘</a></li>
            </ul>
            <div class="rside">
                <div class="zp">
                    <img src="../lib/img/prove.png" alt="" /> 100%正品
                    <img src="../lib/img/num.png" alt="" /> 30万方实体城
                </div>
                <div class="new">
                    <div class="new-num">1</div>
                </div><img src="../lib/img/news.png" alt="" />
            </div>
        </div>
    </header>
    <div class="wk-head">
        <div class="sy-top">
            <div class="sy-title">我的森林谜语</div>
            <div class="sy-throw">我也要投</div>
        </div>
        <div class="sy-cont">
            <img src="../lib/img/bfbrode/share.png" /> <span>2632</span>
            <img src="../lib/img/bfbrode/new.png" style="padding-left:15px;" /> <span> 365</span>
            <img src="../lib/img/bfbrode/time.png" style="padding-left:30px;padding-bottom:2px;" /> <span> 2015-12-30 01:30</span>
        </div>
    </div>

    <div class="wk-photo">
        <div id="play">
            <ul class="img_ul">
                <li style="display:block;"><a class="img_a"><img src="../lib/img/hcustom/th1.png"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th2.jpg"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th3.jpg"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th4.jpg"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th5.jpg"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th6.jpg"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th7.jpg"></a></li>
            </ul>
            <a href="javascript:void(0)" class="prev_a change_a" title="上一张"> <span></span></a>
            <a href="javascript:void(0)" class="next_a change_a" title="下一张"> <span style="display: inline; "></span> </a>
        </div>

        <div class="img_hd">
            <ul class=" clearfix">
                <li><a class="img_a"><img src="../lib/img/hcustom/ths1.png" onload="imgs_load(this)"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th2.jpg" onload="imgs_load(this)"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th3.jpg" onload="imgs_load(this)"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th4.jpg" onload="imgs_load(this)"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th5.jpg" onload="imgs_load(this)"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th6.jpg" onload="imgs_load(this)"></a></li>
                <li><a class="img_a"><img src="../lib/img/hcustom/th7.jpg" onload="imgs_load(this)"></a></li>
            </ul>
            <a class="bottom_a prev_a" style="opacity: 0.7; "></a> <a class="bottom_a next_a" style="opacity: 0.7; "></a>
        </div>
    </div>
    <div class="wk-head" style="margin:40px auto;">
        <div class="sy-author">作者：也米匠</div>
        <div class="sy-main">
            <p>
                2014年3月1日，是海川和管子这一生中最重要的日子，连空气都弥漫着一股甘甜的气息。she's wedding——婚礼舍为他们量身定做了一场不一样的婚礼。婚礼在一个厂房举行，并不奢华，却很温暖。
                新郎和新娘都是摄影师，他们喜欢拿着镜头，随时保持着对世界的好奇，抓住最美的一刻，握在手心。
            </p>
            <p>
                婚礼布置区：那里摆放着两条十分美丽的梦幻婚纱，或许没有人会想到，一个外表大大咧咧，拥有着属于自己情趣内衣品牌的“豪放女汉子”，内心却是和所有软妹子一样，有着一个温馨甜蜜的公主梦。
                甜品：奶油带着恋爱时期的柔软微甜，脆皮尝起来是热恋时的酥脆可口，两块圆圆的小饼干结合，夹心的味道叫作生活。一桌甜品的派对，一场人生的盛宴。
            </p>
            <p>
                Wedding touch，复古老相机已准备就绪，它将印下所有来宾的笑容，并上传至大屏幕，也可以打印留作纪念。充满祝福的笑容是送给新人最好的礼物。
            </p>
            <p>
                舞台：舞台是这场婚礼很重要的部分，它将见证着两位新人从情侣到夫妻这一神圣时刻，当灯光投影笼罩着他们，刹那间，最相爱的两个人，一起深沉在海洋、宇宙、星空，时间静止了，世界都屏住了呼吸。
                圣洁的仪式催下了在场来宾的泪水，转眼间这场温馨浪漫的婚礼变成了嗨翻天的酒吧派对。劲爆的音乐，扭动的腰肢，火艳的口红，性感的高跟，欢歌
            </p>
        </div>
    </div>
    <div class="youlove">
        <div class="guess">猜你喜欢</div>
        <div class="find">总有你能找到婚庆事宜</div>
        <div class="box">

            <span class="prev"></span>

            <dl id="roll">

                <dd><img src="../lib/img/bfbrode/f01.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f02.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f03.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f04.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f05.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f06.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f01.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f02.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f03.jpg" /></dd>

                <dd><img src="../lib/img/bfbrode/f04.jpg" /></dd>

            </dl>

            <span class="next"></span>

        </div>
    </div>
    <footer>
        <div class="container xn-foot">
            <div class="fleft">
                <label>商品集合</label>
                <p>婚纱 (1725)</p>
                <p>礼服 (635)</p>
                <p>男士 (2514)</p>
                <p>配件 (76)</p>
            </div>
            <div class="fright">
                <label>网站</label>
                <p>服务条款</p>
                <p>隐私政策</p>
                <p>版权政策</p>
                <p>宣传资料</p>
                <p>支持</p>
            </div>
            <div class="fright">
                <label>虎丘婚纱</label>
                <p>关于我们</p>
                <p>服务理念</p>
                <p>职位</p>
                <p>联系我们</p>
            </div>
            <div class="fright">
                <label>关注我们</label>
                <p>虎丘婚纱为爱服务-苏州</p>
                <p>2015 © All rights reserved. 虎丘婚纱</p>
                <img src="../lib/img/wx.png" style="padding-right:10px;" />
                <img src="../lib/img/sina.png" />
            </div>
        </div>
    </footer>
    <script src="../lib/js/photo.js"></script>
</body>
</html>
